.container {

}

.headControls {
  display: flex;
  justify-content: space-between;
}

.dataTable {
  border-collapse: collapse;
  width: 100%;
}
.dataTable th,td {
  border: 1px solid black;
  padding: 5px;
}

.dataTable tbody > tr:hover {
  cursor: pointer;
  background-color: beige;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}